<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Document</title>
</head>
<body>

    <div class="title"><h1 class="headline-main">News</h1></div>

    <div class="navbar">
        <a href="/news/page/1"><h3>Latest News</h3></a>
        <a href="/breaking-news"><h3>Breaking News</h3></a>
        <a href="/news"><h3>Countries</h3></a>
        
    </div>

    <form action="/getArticles" method="POST" class="country-form">
        <div>
            <input name="startDate" type="date" >
            
            <input name="endDate" type="date" >

            <input class="country-dropdown"  placeholder="Select Country" list="countries" id="country" name="country">
            <datalist id="countries">
                <option value="Mexico">
                <option value="New Zealand">
                <option value="Sweden">
                <option value="Thailand">
            </datalist>
            <input type="submit" value="Submit">
        </div>
        <div style="margin: 20px 20px 0px ;color: rgb(71, 71, 71);">Request all news relating to the chosen country and the two dates. </div>
    </form>

    
</body>
</html>