

body{
    margin: 50px 250px ;
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    color: #ff5c5c;
}

.headline-main{
    font-size: 5rem;
    text-align: center;
    margin: 15px 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.4rem;
    background-color: #ffffff;
    box-shadow: 2px 4px 15px #eeeeee;
    border-radius: 5px;
}
.grid-container{
    display: grid;
    grid-template-areas: 
        "main main  header header header "
        "main main  header header header "
        "main main  header header header "
        "main main  header header header "
        "main main  middle middle middle "
        "main main  middle middle middle "
        "main main  middle middle middle "
        "footer footer footer footer footer "
        "footer footer footer footer footer "
        "footer footer footer footer footer "
        "footer footer footer footer footer ";
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px 0px;
    font-size: 1.5rem;   
}
.reverse-grid-container{
    display: grid;
    grid-template-areas: 
        "header header header  main main "
        "header header header  main main "
        "header header header  main main "
        "header header header  main main "
        "middle middle middle  main main "
        "middle middle middle  main main "
        "middle middle middle  main main "
        "footer footer footer footer footer "
        "footer footer footer footer footer "
        "footer footer footer footer footer "
        "footer footer footer footer footer ";
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px 0px;
    font-size: 1.5rem;
}
.main-item{grid-area: main;}
.header-item{grid-area: header;}
.middle-item{grid-area: middle;}
.footer-item{grid-area: footer;}

.item{
    text-align: justify;
    background-color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 4px 15px #eeeeee;
}
.item h3{
    text-align: left;
}
.article-date{
    font-size: 1rem;
    color: #797979;
}
.title{
    background-color: #ff5c5c;
    color: white;
    margin: 20px 0;
    border-radius: 5px;
    padding: 35px 0px;
    box-shadow: 2px 4px 15px #d7afaf;
}
.title h1{
    margin:0;
}
input[type="date"]{
    background-color: #ff5c5c;
    color: white;
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 1.4rem;
    padding:10px;
    border: 2px solid #ff5c5c !important;
    transition: 0.3s;
}
input[type="date"]:hover{
    background-color: white;
    color: #ff5c5c;

}
input[type="submit"]{
    background-color: white;
    color:#ff5c5c;
    font-size: 1.4rem;

    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 5px;
    border: solid 2px #ff5c5c;
}
input[type="submit"]:hover{
    background-color: #ff5c5c;
    color:white;
}
.country-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    padding: 30px 0;
    box-shadow: 2px 4px 15px #eeeeee;
}
.country-dropdown{
    font-size: 1.4rem;
    border: #ff5c5c solid 2px;
    border-radius: 5px;
    color: #ff5c5c;
    padding: 10px 0 10px 10px
}

@media only screen and (max-width: 1450px) {
    body{
        margin: 50px 100px;
    }
  }

@media only screen and (max-width: 900px) {
    body{
        margin: 30px 5px;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 10px;
        margin: 20px 5px;
        font-size: 1.2rem;
            
    }
    .reverse-grid-container{
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 10px;
        margin: 40px 5px;
        font-size: 1.2rem;
    }
    .item{
        padding: 10px 3%;
        
    }
    .title{
        background-color: #ff5c5c;
        color: white;
        margin: 20px 5px;
        border-radius: 5px;
        padding: 35px 0px;
        box-shadow: 2px 4px 15px #ffb9b9;
    }
    .headline-main{
        font-size: 1.8rem;
        text-align: center;
        margin: 15px 5px;
        
    }
    .navbar {
        font-size: 1rem;
    }
  }

  @media only screen and (max-width: 410px) {
    
    .navbar {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }
    .navbar a h3{
        text-align: center !important;
    }
  }


/* country form media */
@media only screen and (max-width: 1140px) {
    
    .country-form div{
        display: flex;
        flex-direction: column;
        width: 280px;
        row-gap: 20px;
        margin-top: 20px;
    }
    
}